body {
    background-color: #E9EFF5;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

.infinite-scroll img {
    width: 80px;
    height: 80px;
}

.card{
    border-radius: 10px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.09);
    background-color: #FFFFFF;
}

.btn-theme {
    background-color: #405AA4;
    color: #fafafa;
    padding: 10px;
}

.btn-check-phone {
    background-color: #405AA4;
    color: #fafafa;
    cursor: pointer;
}

.btn-check-phone:hover {
    background-color: #384f8f;
    color: #f7f7f7;
}

.btn-theme:hover {
    background-color: #384f8f;
    color: #f7f7f7;
}

/* ***************** auth-form ****************** */

.auth-form {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 10px;
}

.auth-form a {
    color: #333;
    text-decoration: none;
}

.auth-form a:hover {
    color: #405AA4;
    text-decoration: underline;
}

/* ************ header-menu ************** */

.header-menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 0;
    z-index: 999;
}

.logo {
    width: 150px;
    height: 35px;
}

.header-menu i {
    font-size: 20px;
    margin-top: 2px;
}

.header-menu h3 {
    font-size: 22px;
    transition: .3s;
    margin-bottom: 0px;
}   

.header-menu a {
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.header-menu a:hover i {
    color: #405AA4;
    transition: .3s;
}

.header-menu a:hover p {
    color: #405AA4;
    transition: .3s;
}

/* ************* bottom-menu *************** */

.bottom-menu {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-menu i {
    font-size: 18px;
    margin-top: 12px;
}

.bottom-menu p {
    margin-bottom: 12px;
    font-size: 12px;
    transition: .3s;
}   

.bottom-menu a {
    text-decoration: none;
    color: #333;
    transition: .3s;
    display: block;
}

.bottom-menu .active i {
    color: #405AA4;
    transition: .3s;
}

.bottom-menu .active p {
    color: #405AA4;
    transition: .3s;
}

.bottom-menu a:hover i {
    color: #405AA4;
    transition: .3s;
}

.bottom-menu a:hover p {
    color: #405AA4;
    transition: .3s;
}

/* *********** main content *************** */

.content {
    margin-top: 75px;
    margin-bottom: 75px;
}

/* ************* home **************** */

.home {
    margin-bottom: 60px;
}

.home .profile {
    padding: 10px;
    display: flex;
    align-items: center;
}

.home .profile h3 {
    margin-bottom: 0px;
    font-size: 18px;
}

.home .profile p {
    margin-bottom: 0px;
    font-size: 12px;
}

.home .profile img {
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 100%;
    margin-right: 15px;
}

.home .avatar {
    text-align: center;
}

.home .qr-box img {
    width: 30px;
    height: 30px;
}

.home .qr-box span {
    margin-left: 20px;
}

.home .qr-box .card-body {
    padding: 1rem;
}

.home a {
    text-decoration: none;
    color: #333;
}

.home .function-box img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

/* *************** scan $ pay **************** */

.scan-qr .scan img {
    width: 20px;
    height: 20px;
}

/* **************** Transfer ****************** */

.transfer {
    margin-bottom: 60px;
}

/* ************** profile ******************* */

.account {
    margin-bottom: 60px;
}

.account .profile {
    text-align: center;
}

.account .logout {
    cursor: pointer;
}

.account .profile img {
    width: 90px;
    height: 90px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 100%;
}

.account a{
    color: #212529;
    text-decoration: none;
}

.awn-btn-success {
    background: #405AA4 !important;
}

.awn-btn-cancel {
    background: #9FA6B2 !important;
}

/* ************* update-password ****************** */
.update-password {
    margin-bottom: 60px;
}

.update-password img {
    width: 250px;
}

/* ************** alert ************ */

.alert-dismissible .btn-close {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    margin-top: 5px;
    margin-right: 6px;
}

.swal2-icon-info .swal2-icon {
    margin-top: 15px;
    width: 3rem;
    height: 3rem;
}

.swal2-icon-info .swal2-icon-content {
    font-size: 2.2rem !important;
}

.swal2-icon-info .swal2-title {
    padding: .2em 1em 0;
}

.swal2-icon-info .swal2-confirm {
    background-color: #405AA4 !important;
    color: #fafafa !important;
    padding: 10px !important;
}

.swal2-icon-error .swal2-icon {
    margin-top: 15px;
    width: 5rem;
    height: 5rem;
}

.swal2-icon-error .swal2-icon-content {
    font-size: 2.2rem !important;
}

.swal2-icon-error .swal2-title {
    padding: .2em 1em 0;
}

.swal2-icon-error .swal2-confirm {
    background-color: #405AA4 !important;
    color: #fafafa !important;
    width: 100px;
    padding: 10px !important;
}

/* pagination */

.pagination .page-item a{
    color: #405AA4;
}

.pagination .page-item a:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.page-link.active, .active > .page-link {
    background-color: #405AA4 !important;
    z-index: 0 !important;
}

/* ************* scan tab ************** */

.scan-tab {
    width: 60px;
    height: 60px;
    background-color: #E9EFF5;
    border-radius: 100%;
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.scan-tab .inside {
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* animation: glow 2s infinite; */
}

.scan-tab .inside i {
    margin: 0px;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 -10px #405AA4;
    }

    40% {
        box-shadow: 0 0 15px #405AA4;
    }

    60% {
        box-shadow: 0 0 15px #405AA4;
    }

    100% {
        box-shadow: 0 0 -10px #405AA4;
    }
}

/* ******** wallet-card ************** */

.wallet {

}

.wallet .wallet-card {
    background-color: #405AA4;
    color: #fff;
}

.wallet .wallet-card span {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    color: #EDEDF5;
}

.wallet .wallet-card h4 {
    font-size: 22px;
    font-weight: 900;
}

.wallet .wallet-card h5 {
    font-size: 18px;
    font-weight: 900;
}

.wallet .wallet-card p {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}

.wallet .wallet-card .currency {
    display: inline;
    font-size: 16px;
    color: #EDEDF5;
}

/************* transaction *****************/

.transaction {
    margin-bottom: 60px;
}

.transaction a {
    text-decoration: none;
}

.transaction select {
    cursor: pointer;
}

/*************** transaction detail *****************/

.transaction-detail {
    margin-bottom: 60px;
}

.transaction-detail img {
    width: 60px;
}

.transaction-detail hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
/* ******* login footer ********** */

@media (max-width: 490px) {
    .login-footer a {
        font-size: 12px;
    }

    .btn-theme {
        margin-bottom: 10px !important;
        padding: 7px;
    }

    .container p {
        font-size: 12px;
    }

    .register-footer a {
        font-size: 12px;
    }

    .container input {
        font-size: 14px;
    }

    .logo {
        width: 113px;
        height: 31px;
    }

    .header-menu i {
        font-size: 17px;
    }

    .header-menu h3 {
        font-size: 15px;
    }

    #awn-popup-wrapper .awn-popup-body {
        max-width: 290px;
        min-width: 200px;
    }

    .home .qr-box span {
        margin-left: 6px;
    }

    .home .qr-box .card-body {
        padding: 0.8rem;
    }

    .home .qr-box img {
        width: 25px;
        height: 25px;
    }

    .transaction select, .transaction input {
        font-size: 13px !important;
        cursor: pointer;
    }

}
  
